
.delete_button {
  margin: -40px 0 0 auto;
  width: 20%;
  border-radius: 20px;
  padding: 8px;
  background-color: darkslategray;
  color: peachpuff;
}

ul.noteList{
  list-style: none;
  padding: 0;
}

.note-detailed {
  border-radius: 20px;
}


.addNote-button {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: peachpuff;
  color: darkslategray;
  padding: 8px;
  border-radius: 20px;
}
