/* .folder-link, .folder-link.active {
  padding: 20px;
  margin: 10px 0 10px 20px;
  background-color: peachpuff;
  font-size: 25px;
} */
/* 
a:link, a:hover, a:active, a:visited {
  color: darkslategray;
  text-decoration: none;
}

.folder-link.active {
  background-color: darkslategray;
  color: peachpuff;
}

.folderList-list {
  list-style-type: none;
  padding: 0;
  margin: 120px 0 0;
} */
