.note-detailed {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 20px;
    width: 70%;
    background-color: peachpuff;
    font-size: 20px;
}

.note-title, .note-date {
    margin-bottom: 10px;
}
