div.note {
  padding: 20px;
  margin: 20px auto;
  background-color: peachpuff;
  width: 70%;
  font-size: 20px;
}

.noteList-modified {
  margin: 10px;
  font-size: 15px;
}

/* .noteList-wrapper {
  overflow: hidden;
  height: 800px;
  overflow-y: scroll;
} */

.delete_button {
  margin: 0 0 0 auto;
  max-width: 160px;
}

.noteList {
  list-style: none;
  margin: 120px 0 0;
  padding: 0;
}